#root {
  --background: #222831;
  --gray: #393e46;
  --light-gray: #eeeeee;
  --primary: #ffd369;
  --secondary: #334195;
  --success: #77ba99;
  background-color: var(--background);
}

.btn-primary {
  border: none;
  background-color: var(--primary);
}

/* TODO: couple btn classes */

.btn-secondary {
  border: none;
  background: linear-gradient(#85c7f2, var(--secondary));
  border-radius: 5px;
  color: var(--light-gray);
  font-weight: bold;
  min-height: 44px;
  padding: 1rem 2rem;
  text-align: center;
  width: 300px;
}
.btn-secondary:hover {
  filter: brightness(0.9);
}
.btn-secondary:active {
  filter: brightness(0.8);
}
.btn-secondary:disabled {
  filter: brightness(0.5);
}

.btn-tertiary {
  border: none;
  background-color: var(--light-gray);
  border-radius: 5px;
  color: var(--background);
  font-weight: bold;
  min-height: 44px;
  padding: 1rem 2rem;
  text-align: center;
  white-space: nowrap;
  width: 300px;
}
.btn-tertiary:hover {
  filter: brightness(0.9);
}
.btn-tertiary:active {
  filter: brightness(0.8);
}
.btn-tertiary:disabled {
  filter: brightness(0.5);
}

.secondary {
  background-color: var(--secondary);
}

.success {
  background-color: var(--success);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
strong,
p,
label {
  color: var(--light-gray);
}

a:active,
a:focus,
a:hover {
  color: var(--primary);
}

.btn-no-bg {
  background: none;
  border: none;
  color: var(--light-gray);
  padding: none;
}
.btn-no-bg:active,
.btn-no-bg:focus,
.btn-no-bg:hover {
  color: var(--primary);
}

.screen-height {
  min-height: 100dvh;
}

input[type="checkbox"] {
  accent-color: var(--primary);
  cursor: pointer;
  transform: scale(1.2);
}

input[type="checkbox"]:hover {
  border: 2px solid var(--primary);
  box-shadow: 0px 0px 5px 0px var(--primary);
}

input[type="checkbox"] + label {
  cursor: pointer;
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  height: 44px;
  padding-left: 1rem;
  width: 300px;
}
input[type="text"]:focus {
  box-shadow: 0px 0px 10px 1px var(--primary);
  outline: none;
}

input[type="password"] {
  border: none;
  border-radius: 5px;
  height: 44px;
  width: 300px;
  padding-left: 1rem;
}
input[type="password"]:focus {
  box-shadow: 0px 0px 10px 1px var(--primary);
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #222831;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cart-drawer {
  background-color: var(--background) !important;
  @media only screen and (min-width: 768px) {
    width: 50% !important;
  }
}

.left-border {
  border-left: 2px solid var(--primary);
}

.bottom-border {
  border-bottom: 2px solid var(--primary);
}

.game-img {
  aspect-ratio: 2 / 3;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
