/* $gray: #b4b8c5;
$light-gray: #e9ebf8;
$primary: #e2c044;
$success: #52ffb8; */

#root {
  --dark-gray: #37323e;
  --gray: #6d6a75;
  --light-gray: #bfbdc1;
  --primary: #deb841;
  --secondary: #de9e36;
  --success: #52ffb8;
  background-color: var(--dark-gray);
}

.text-primary {
  color: var(--primary);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

span,
strong,
p,
label {
  color: rgb(255, 255, 255);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.screen-height {
  min-height: 100vh;
}
