#root {
  --background: #222831;
  --gray: #393e46;
  --light-gray: #eeeeee;
  --primary: #ffd369;
  background-color: var(--background);
}

a,
span,
strong,
p,
label {
  color: var(--light-gray);
}

a:active,
a:focus,
a:hover {
  color: var(--primary);
}

/* .screen-height {
  min-height: 100dvh;
} */
