.cart-games {
  background-color: var(--background);
  border-right: 2px solid var(--primary);
}

.cart-info {
  background-color: var(--background);
  height: 100%;
  position: sticky;
  top: 0;
}

.remove-btn {
  opacity: 0;
  background: pink;
  border: 1px solid red;
  border-radius: 50%;
  padding: 0.25rem;
  position: absolute;
}

.remove-btn:hover {
  opacity: 1;
  top: 2%;
  right: 3%;
}

.game-img:hover + .remove-btn {
  opacity: 1;
  top: 2%;
  right: 3%;
}
