.game-img {
  aspect-ratio: 2 / 3;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  width: 100%;
}

.game-img:hover {
  transform: scale(1.05);
}

.games-category {
  border-right: 2px solid var(--primary);
  height: calc(100dvh - 100px);
  position: sticky !important;
  top: 100px;
}
