.navbar {
  background-color: var(--background);
  border-bottom: 2px solid var(--primary);
  height: 100px;
  position: sticky !important;
  top: 0;
  z-index: 1;
}

.search {
  background-color: var(--light-gray);
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  position: relative;
}

.search-field,
.search-field:focus {
  background-color: var(--light-gray);
  border: none;
  box-shadow: none !important;
  padding-left: 2rem !important;
  width: 125px !important;
}

.search-logo {
  position: absolute;
}

.drawer-overlay {
  background-color: var(--background);
  border-bottom: 2px solid var(--primary);
  height: 100px;
  top: -100px;
  left: 0;
  position: fixed;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
  width: 100%;
  z-index: 2;
}

.drawer-overlay.open {
  transform: translateY(100px);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  right: 0;
}

.patty {
  background-color: var(--primary);
  width: 40px;
  height: 2px;
}

.auth-drawer {
  background-color: var(--primary);
  position: absolute;
  right: 0px;
  top: 65px;
  width: 250px;
}

.auth-btn {
  text-align: left;
  width: 100%;
  border: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  background-color: var(--primary);
}
.auth-btn:hover {
  filter: brightness(0.9);
}
.auth-btn:active {
  filter: brightness(0.8);
}
